@model Post

@{
    ViewData["Title"] = "Post Sil";
}

<h2>@ViewData["Title"]</h2>
<h4>Bu gönderiyi silmek istiyor musun?</h4>

<form asp-controller="Post" asp-action="DeleteConfirm" method="post">
    <input asp-for="@Model.id" hidden />
    <button type="submit" class="btn btn-danger mt-2">Sil</button>
    <a asp-action="Index" asp-controller="Post" class="btn btn-secondary mt-2 ms-1">İptal</a>
</form>